body{
	background-image: url('22.jpg'); 
}
#container{

}
#tarjeta{
	padding: 0px;
	margin: 0px auto;
	margin-top: 150px; 
	background: rgba( 9, 29, 85, 0.30 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.25 );
	backdrop-filter: blur( 17.0px );
	-webkit-backdrop-filter: blur( 17.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	height: 350px;
	width: 40%;
}
#central{
	height: 200px;
}
#cabeza{
	border-bottom: 1px solid white;
	font-size: 50px;
	margin-bottom: 0px;
	color: white;
	text-align: center;
}
#pie{
	border-top: 1px solid white;
}
.barras{
	height: 74px;
}

#form{
	float: right;
	margin-right: 250px;
	font-size: 30px;
	color: white;
}
#form p{
	margin: 15px;
	margin-top: 25px;
}
.redes{
	letter-spacing: 100px;
	list-style: none;
	font-size: 35px;
	margin-top: 15px; 
	margin-left: 130px; 
	display: flex;
}
.fa-facebook-square:before {
    content: "\f082";
    color: black;
}

.fa-twitter:before {
    content: "\f099";
    color: black;
}
.fa-instagram-square:before {
    content: "\e055";
    color: black;
}
